@media only screen and (max-width: 1024px) {
  .menus {
    float: left;
  }
  .menus ul li {
    display: inline-block;
    margin: 0 7px;
  }
  .nav_button a {
    color: #fff;
    background: transparent;
    border-color: #fff;
    border: 1px solid;
    /* padding: 10px 36px; */
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0;
    /* margin-left: 23px; */
    border-radius: 3px;
  }
}
